<div class="mnge-container">
    <div class="mnge-header">
      <a href="/admin/dashboard/add-new-employee"><button>Add New Employee</button></a>  
    </div>
    <div class="mnge-emp-table">
        <table>
            <colgroup>
                <col style="width:30%">
                <col style="width:5%">
                <col style="width:30%">
                <col style="width:35%">
            </colgroup>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Role</th>
                    <th>Take Action</th>
                </tr>
                <% for(i=0; i<employees.length ;i++){ %> 
                <tr>
                    <td><%= employees[i].username %> </td>
                    <td><%= employees[i].id %> </td>
                    <td><%= employees[i].role %> </td>
                    <td class="mnge-action-btn">
                        <button>Remove</button>
                    </td>
                </tr>
                <% } %> 
      
          </table>
    </div>
</div>