<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/adminTemplate.css">
    <link rel="stylesheet" href="/stylesheets/adminhome.css">
    <link rel="stylesheet" href="/stylesheets/adminsidebar.css">
    <link rel="stylesheet" href="/stylesheets/adminManageEmployee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="admin-container">
           <div class="admin-sidebar">
                <div class="header-logo">
                    <span>freel</span>
                    <span>ancer.</span>
                </div>
                <ul>
                    <li class="admin-sidebar-navigation-title">Navigation</li>
                    <li><a href="/admin/dashboard">Home</a></li>
                    <li><a href="/admin/dashboard/manage-employees">DashBoard</a></li>
                </ul>
                <ul>
                    <li class="admin-sidebar-navigation-title">Manage Employees</li>
                    <li><a href="/admin/dashboard/manage-employees">Employees</a></li>
                    <li><a href="">DashBoard</a></li>
                </ul>
                <ul>
                    <li class="admin-sidebar-navigation-title">Navigation</li>
                    <li><a href="">DashBoard</a></li>
                    <li><a href="">DashBoard</a></li>
                </ul>
                <ul>
                    <li class="admin-sidebar-navigation-title">MANAGE GIGS</li>
                    <li><a href="/admin/dashboard/pending-gig-approvals">Pending</a></li>
                    <li><a href="/admin/dashboard/rejected-gigs">Rejected</a></li>
                    <li><a href="/admin/dashboard/active-gigs">Active </a></li>
                </ul>
           </div>
           <div class="admin-layout">
                <div class="admin-layout-header">
                    <div class="admin-layout-header-btn">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                    <div class="admin-layout-header-content">
                        <div class="admin-layout-header-content-profile">
                            <div class="admin-layout-header-content-profile-image">
                                <img src="" alt="">
                            </div>
                            <!-- <div class="admin-layout-header-content-profile-upperArrow"></div> -->
                            <ul>
                                <li>
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <a href="/user/settings">Settings</a>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="/user/profile">Profile</a>                           
                                </li>
                                <li>
                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                    <a href="">My Messages</a>
                                </li>
                                <li>
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <a href="">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
