<footer class="footer-container">
    <div class="footer-content">
        <div class="logo-desc">
            <a href="/">
                <div class="logo">
                    <span>freel</span>
                    <span>ancer.</span>
                </div>
            </a>

            <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae facilis reiciendis alias nemo! Alias nulla accusamus, iusto itaque temporibus id deserunt magnam dolorum veniam. Obcaecati dolores facilis non minima amet.</p> -->
            <div class="social">
                <a href=""><i class="fa fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa fa-solid fa-envelope"></i></a>
            </div>
        </div>
        <div class="footer-navigations">
            <div class="company footer-navigation">
                <ul>
                    <li>Company</li>    
                    <li><a href="">About Us</a></li>
                    <li><a href="">How It Works</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="explore footer-navigation">
                <ul>
                    <li>Explore More</li>                                         
                    <li><a href="">Freelacers in Sri Lanka</a></li>
                    <li><a href="">Find Jobs</a></li>
                    <li><a href="">Find Solutions</a></li>            
                </ul>
            </div>
        </div>

    </div>
    <div class="copy-right">
        <div class="copy-right-container">
            <div class="copy-right-content">
                Copyright © 2022 The Freelancer, All Right Reserved Freelancer
            </div>
            <div class="copy-right-button">
                <button>Join Now</button>
            </div>
        </div>

    </div>
</footer>