<header class="header-container">
    <nav class="header-nav">
        <div class="header-logo">
            <span>freel</span>
            <span>ancer.</span>
        </div>
        <div class="header-navigation">
            <ul>
                <li class="header-item"><a href="">About Us</a></li>
                <li class="header-item"><a href="">How It Works</a></li>
                <li class="header-item"><a href="">Contact</a></li>
                <li class="header-signin-btn"><a href="">Sign In</a></li>
                <li class="header-register-btn"><a href="">Log In</a></li>
            </ul>
        </div>
        <div class="header-burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
</header>