<header class="container">
    <nav class="nav">
        <div class="logo">
            <span>freel</span>
            <span>ancer.</span>
        </div>
        <div class="navigation">
            <ul>
                <li class="item"><a href="">About Us</a></li>
                <li class="item"><a href="">How It Works</a></li>
                <li class="item"><a href="">Contact</a></li>
                <li class="signin-btn"><a href="">Sign In</a></li>
                <li class="register-btn"><a href="">Log In</a></li>
            </ul>
        </div>
        <div class="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
</header>