<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/resetPassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>

</head>
<body>
    <div style="height: 100%; min-height: 100vh; display:flex; flex-direction: column; justify-content: space-between;">
    <%- include("./partials/header.ejs") %> 
    <div class="container-reset-email">
        <!-- <background-image : url(artwork1.jpg); -->
            <h2>Enter your email</h2>
            <form action="/user/forgot-password" method="post">
                <input type="text" name="email">
                <button type="submit">reset</button>
            </form>

    </div>
    <%- include("./partials/footer.ejs") %> 
</div>
    <script type="javascript"  src="/javascript/header.js"></script>
</body>
</html>