<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs") %> 
    <section class="landing">
        <div class="content">

        </div>
        <div class="background">
            <div class="landing-description">
                <div class="landing-description-content">
                    <h2>Search & get Inspired With our</h2>
                    <h1>Top Notch Artists</h1>
                    <p>Work with the pro, talented people at the most affordable price to get the most out of your time and cost on the most secure platform around the Sri lanka.</p>
                    <div class="search-bar">
                        <input type="search" placeholder="I'm looking for" name="" id="" />
                        <button>Search</button>
                    </div>
                    <div class="popular-tags">
                        <h5>popular: </h5>
                        <ul>
                            <li><a href="">Illustrations,</a></li>
                            <li><a href="">Illustrations,</a></li>
                            <li><a href="">Illustrations,</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="background-image">
                <img src="./assets/home.png" alt="">
            </div>
        </div>
    </section>
    <section class="services">
        <div class="services-content">
            <h1 class="title">Explore Popular Services</h1>
            <div class="cards">
                <div class="grid-navigation">
                    <div class="grid-navigation-btn-container leftClick">
                       <
                    </div>
                    <div class="grid-navigation-btn-container rightClick">
                        >
                    </div>
                </div>
                <div class="cards-grid">

                    <div class="card service-card firstCard">
                        <div class="card-desc ">
                            <h4 class="card-title">Illustration</h4>
                        </div>
                        <div class="card-img">
                            <img class="service-class-img" src="https://images.unsplash.com/photo-1579762715118-a6f1d4b934f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aWxsdXN0cmF0aW9uc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                    </div>
                    <div class="card service-card">
                        <div class="card-desc">
                            <h4 class="card-title">Logo Design</h4>
                        </div>
                        <div class="card-img">
                            <img class="service-class-img" src="https://images.unsplash.com/photo-1533319417894-6fbb331e5513?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGxvZ28lMjBkZXNpZ258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                    </div>
                    <div class="card service-card">
                        <div class="card-desc">
                            <h4 class="card-title">Cartoon & Comics</h4>
                        </div>
                        <div class="card-img">
                            <img class="service-class-img" src="https://images.unsplash.com/photo-1620336655055-088d06e36bf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2FydG9vbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                    </div>
                    <div class="card service-card">
                        <div class="card-desc">
                            <h4 class="card-title">NFT Art</h4>
                        </div>
                        <div class="card-img">
                            <img class="service-class-img" src="https://images.unsplash.com/photo-1655474209351-054aac9d586f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmZ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                    </div>
                    <div class="card service-card">
                        <div class="card-desc">
                            <h4 class="card-title">NFT Art</h4>
                        </div>
                        <div class="card-img">
                            <img class="service-class-img" src="https://images.unsplash.com/photo-1655474209351-054aac9d586f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmZ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                    </div>
                    <div class="card service-card">
                        <div class="card-desc">
                            <h4 class="card-title">NFT Art</h4>
                        </div>
                        <div class="card-img">
                            <img class="service-class-img" src="https://images.unsplash.com/photo-1655474209351-054aac9d586f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmZ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                    </div>
                    <div class="card service-card">
                        <div class="card-desc">
                            <h4 class="card-title">NFT Art</h4>
                        </div>
                        <div class="card-img">
                            <img class="service-class-img" src="https://images.unsplash.com/photo-1655474209351-054aac9d586f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmZ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                    </div>
                    <div class="card service-card">
                        <div class="card-desc">
                            <h4 class="card-title">NFT Art</h4>
                        </div>
                        <div class="card-img">
                            <img class="service-class-img" src="https://images.unsplash.com/photo-1655474209351-054aac9d586f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmZ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="features-content">
            <div class="features-title">
                Best Sri lankan Freelacers at your Figertips
            </div>
            <div class="features-cards">
                <div class="features-grid">
                    <div class="feature">
                        <div class="feature-icon">
                            <img src="./assets/budget.png" alt="" srcset="">
                        </div>
                        <div class="feature-title">
                           <h3>Affordable Prices</h3> 
                        </div>
                        <div class="feature-desc">
                            Find high-quality services at every price point. No hourly rates, just project-based pricing.
                        </div>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <img src="./assets/quality.png" alt="" srcset="">
                        </div>
                        <div class="feature-title">
                           <h3>Quality Works</h3> 
                        </div>
                        <div class="feature-desc">Find the right freelancer to begin working on your project within minutes.</div>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <img src="./assets/payment.png" alt="" srcset="">
                        </div>
                        <div class="feature-title">
                           <h3>Protected Payments</h3> 
                        </div>
                        <div class="feature-desc">
                            Always know what you'll pay upfront. Your payment isn't released until you approve the work.
                        </div>
                    </div>
                    <div class="feature">
                        <div class="feature-icon">
                            <img src="./assets/support.png" alt="" srcset="">
                        </div>
                        <div class="feature-title">
                          <h3>Customer Support</h3>  
                        </div>
                        <div class="feature-desc">
                            Questions? Our  support team is available to help anytime, anywhere.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer.ejs") %> 
    <script  src="javascript/header.js"></script>
    <script  src="javascript/home.js"></script>
<body>
</html>