<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    
    
    <div class="container">

        <% if(success ){ %>  
            <h4><%= success  %> </h4>
        <% }%> 
            <% if(error ){ %>  
                <h4><%= error  %> </h4>
            <% } %> 
            <form action="/user/login" method="post">

                <input type="text" name="email">
                <input type="text" name="password">
                <button type="submit">Login</button>
            </form>
            <a href="/user/forgot-password">reset pass</a>
    </div>
</body>
</html>