<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body >
    
    
    <div class="container">
        <div class="bg-image">
            <img src="./assets/artwork2.jpg" alt="">
        </div>
        <div class="content">
            <div class="content-container">
                <form action="" method="post">
                    <h1>Website Name</h1><br>

                    <h2>Sign in now</h2>
                    <h3>Dont't have an account ? <a href="">Sign up</a></center></h3><br><br>
                    <div>
                        <label for="">Username :</label>&nbsp;

                    <input type="text" name="uname" id="uname"><br><br>

                    </div>
                    <div>
                    <label for="">Password  :</label>&nbsp;&nbsp;
                    <input type="text" name="password" id="password"><br><br>
                        
                    </div>
                    <button type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>