<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/adminTemplate.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/adminhome.css">
    <link rel="stylesheet" href="/stylesheets/adminsidebar.css">
    <link rel="stylesheet" href="/stylesheets/adminManageEmployee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="admin-container">
           <div class="admin-sidebar">
                <div class="header-logo">
                    <span>freel</span>
                    <span>ancer.</span>
                </div>
                <ul>
                    <li class="admin-sidebar-navigation-title"></li>
                    <li><a href="/user/home">Home</a></li>
                </ul>
                <ul>
                    <li class="admin-sidebar-navigation-title">MANAGE ORDERS AS seller</li>
                    <li><a href="/order/orders/started">Current Orders</a></li>
                    <li><a href="/order/orders/canceled">Rejected Orders</a></li>
                    <li><a href="/order/orders/delivered">Delivered Orders </a></li>
                    <li><a href="/order/orders/completed">Completed Orders </a></li>
                </ul>
                <ul>
                    <li class="admin-sidebar-navigation-title">MANAGE ORDERS AS Buyer</li>
                    <li><a href="/order/my-orders/delivered">Delivered Orders</a></li>
                    <li><a href="/order/my-orders/completed">Completed Orders</a></li>
                </ul>
                <ul>
                    <li class="admin-sidebar-navigation-title">MANAGE Gigs</li>
                    <li><a href="/gig/add-new-gig">Add new gig</a></li>
                    <li><a href="/gig/see/all-gigs ">View Gigs</a></li>
                </ul>
           </div>
           <div class="admin-layout">
                <div class="admin-layout-header">
                    <div class="admin-layout-header-btn">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                    <div class="admin-layout-header-content" style="z-index: 1111;">
                        <div class="admin-layout-header-content-profile">
                            <div class="admin-layout-header-content-profile-image">
                                <% if (currentUser.img_url == null) { %>
                                    <img src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png" alt="">
                                <% } else{%>

                                <img src="<%= currentUser.img_url %> " alt="">

                                <% } %> 
                            </div>
                            <!-- <div class="admin-layout-header-content-profile-upperArrow"></div> -->
                            <ul>
                                <li>
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <a href="/user/settings">Settings</a>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="/user/profile">Profile</a>                           
                                </li>
                                <li>
                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                    <a href="">My Messages</a>
                                </li>
                                <li>
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <a href="/user/logout">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% if (error != "" || success != "") { %>
                    <div class="err-success-msg " id="err-success-click">
                        <% if (error != "") { %>
                            <div class="err-msg-container ">
                                <h4 class="err-msg"><%= error %> </h4>
                                <button onclick="handleMsg()">X</button>
                            </div>
                        <% } %>
                        <% if (success != "" ) { %>
                                <div class="success-msg-container">
                                    <h4 class="success-msg"><%= success %></h4>
                                    <button onclick="handleMsg()">X</button>
                                </div>
                        <% } %>
                    </div>
                <% } %>
                
                <script>
                    const handleMsg =  function() {
                      const cl =   document.getElementById("err-success-click");
                      cl.style.display = "none";
                    }
                </script>
