.container{
    margin-top: 50px;
    max-width: 1280px;
    width: 90%;
    margin-inline: auto;
    background-color: white;
   display: flex;
    
}
.description{
    margin-left: 50px;
    margin-top: 40px;
    height: 1000px;
    border: 1px solid grey;
    width: 500px;

}
.description h4{
    font-family: arial;
   color: blue;
   margin-left: 10px;
}
.description h2{
    margin-left: 10px;
    font-family: arial;
 }
.slider{
    height: 400px;
    width: 90%;
    overflow: hidden;
    border: 0.1px solid gray;
 }
 .slider figure{
    position: relative;
    width: 300%;
    margin: 1 2 2 2;
    left: 0;
    animation: 10s slider infinite;
 }
 .slider figure img{
    float: left;
    width: 20%;
 }

 @keyframes slider{
    0%{left: 0;}
    20%{left: 0;}
    45%{left: -100%;}
    50%{left: -100%;}
    70%{
        left: -200%;
    }
    80%{left: -200%;}
    100%{left: 0;}
 }
@-webkit-keyframes slide_animation{
    0%{left:0px;}
    10%{left:0px;}
    20%{left:-1200px;}
    30%{left:-1200px;}
    40%{left:-2400px;}
    50%{left:-2400px;}
    60%{left:-1200px;}
    70%{left:-1200px;}
    80%{left:0px;}
    90%{left:0px;}
    100%{left:0px;}

}
.slider{
      width: 100%;
      height: 200px;
      margin: 15 15 0 0;
      -webkit-animation-name:slide_animation ;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      -webkit-animation-play-state: running;
}


.note{
    height: 400px;
    width: 100%;
}
.note h2{
    margin-left: 20px;
    font-family: arial;
    color: grey;
}
.dIntro{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10pt;
    word-spacing: 2px;
   
}
.note h4{
    margin-left: 20px;
    font-family: arial;
    color: grey;
}
.dPromo{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10pt;
    word-spacing: 2px;
}
.priceLine{
    margin-left: 10px;
    margin-top: 40px;
    height: 1000px;
    border: 1px solid grey;
    width: 500px;
}
.price{
    height: 110px;
    border: 1px solid grey;
    width: 100%;
}
.price h1{
    color: orange;
    text-align: center;
}
.price h4{
   text-align: center;
    color: black;
}
.deliverydetails{
    height: 300px;
    border: 1px solid grey;
    width: 100%;
}
.deliverydetails h4{
    color: black;

     margin-left: 130px;
}
.imgDate{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 100px;

}
.buyNow{
    height: 300px;
    border: 1px solid grey;
    width: 100%;
}
.btnBuy{
    margin-left: 100px;
    border: 0px;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    height: 50px;
    font-weight: bold;
    background-color: red;
    font-style: arial;
    
}
.intro{
    text-align: center;
    font-family: Arial;
    font-size: 10pt;
    color: brown;
}

.btnBuy h3{
    color: white;
}
.btnContact{
    margin-left: 100px;
    border: 0px;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    height: 50px;
    font-weight: bold;
    background-color: red;
    font-style: arial;
}
.btnContact h3{
    color: white;
}