.orders-container{
    max-width:768px;
    width:90%;
    margin: 50px auto;

}

.orders-title{
    font-size: 25px;
}

.orders-title table {
    margin-top: 50px;
    width: 100%;
    text-align: start;
    background-color: rgba(180, 180, 180, 0.318);
}

.orders-title table tr th{
    font-size: 18px;
    text-align: left;
    padding: 10px 5px;
}


.orders-title table tr td{
    font-size: 18px;
    text-align: left;
    padding: 10px 5px;
    
}

#deliver-btn-orders{
    height: 100%;
    width: 100%;
    background-color: greenyellow;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}   

.orders-deliver-window{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.878);;
    z-index: 111;
    position: fixed;
    display: none;
    
}

.orders-deliver-window .orders-deliver-window-div{
    width: 90%;
    max-width: 300px;
    height: 300px;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}

.orders-deliver-window .orders-deliver-window-div button{
    background-color: greenyellow;
    border: none;;
    padding: 20px 0;
    font-weight: 700;
    font-size: 25px;
}



.orders-complete-window{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.878);;
    z-index: 111;
    position: fixed;
    display: none;
}

 .orders-complete-window-div{
    width: 90%;
    max-width: 500px;
    height: 300px;
    position: absolute;
    background-color: white;
    padding: 20px;

}
.dotm-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.orders-complete-window-div span{
    font-size: 17px;
}
.orders-complete-window-div label{
    font-size: 17px;
}
.orders-complete-window-div button{
    border: none;
}
.orders-complete-window-div button{
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: rgb(170, 255, 0);
    cursor: pointer;
}
.dotm-content-title{
    margin-top: 30px;
}
.hide-deliver{
    display: flex;
}



