.reg-container{
    max-width: 300px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(124, 124, 124, 0.242);
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgb(117, 117, 117);

}
.reg-container h4{
    text-align: center;
}
.reg-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reg-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reg-div input{
    padding: 5px 5px;
    outline: none;
}
.reg-div label{
    font-size: 15px;
    font-weight: 600;
    color: #767676cf;
}
.reg-div select{
    padding: 5px 5px;
    outline: none;
}

.reg-div button{
    padding: 10px 5px;
    border: none;
    background-color: #2ECC71;
    cursor: pointer;
    margin-top: 10px;
}