.resetpass-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 70px);
}

.resetpass-content{
    max-width: 300px;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
}

.resetpass-content form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resetpass-content form input{
    padding: 10px 5px;
    outline: none;
}
.resetpass-content form button{
    padding: 10px 5px;
    outline: none;
    background-color: #FF7300;
    border-color: #FF7300;
}

.resetpass-content form button:hover{
    background-color: #fd8726;
    border-color: #fd8726;
}

