<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/freelancerdashboard.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer Dashboard</title>
</head>
<body>

    <div class="dashboard-container">
        <div class="dashboard-account">
            <div class="dashboard-nameImg">
                <div class="dashboard-userdetails">
                    <img class="dashboard-img" src="https://images.pexels.com/photos/4709289/pexels-photo-4709289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="dashboard-name">
                    <h3>akash perera</h3>
                </div>
            </div>
            <div class="dashboard-detaillist">
                <ul class="dashboard-list">
                    <li> Order response rate -100%</li><br><br>
                    <li>Order response rate  - 100%</li><br><br>
                    <li>Delivery on time -  100%</li><br><br>
                    <li>Order completion -  100%</li><br><br>
                </ul>

            </div>
            <div class="dashboard-pricetag">
                <h4>Earned in november  $0 </h4>
            </div>
            <div class="dashboard-inbox">
                <h4>Inbox</h4>
                <a class="dashboard-viewAll" href=""><h3>View All</h3></a>

         </div>
          
        </div>

        <div class="dashboard-description">
            <div class="dashboard-activeOrder">
                   <h4>Active Orders - 0</h4>  
                   <div class="dashboard-orderDrop">
                    <a class="dashboard-listhead" href="#"><h4>Active Orders(0)</h4></a>
                     <ul class="dashboard-drop">
                        <li><a href="#"></a> Active Orders</li>
                        <li><a href="#"></a> Completed</li>
                        <li><a href="#"></a> Cancelled</li>
                     </ul>
                   </div>
            </div>
            <div class="dashboard-upgration">
                  <div class="dashboard-topseller">
                    <h1>3 Steps to become a top seller on Freelance </h1>
                    <p>The key to your success on Freelance is the brand you build for yourself through your Freelance reputation. We gathered some tips and resources to help you become a leading seller on Freelance.</p>
                  </div>

                  <div class="dashboard-steps">
                    <div class="dashboard-step1">
                        <h4>Get Noticed</h4>
                        <p>Tap into the power of social media by sharing your Gig, and get expert help to grow your impact.</p><br>
                        <button type="submit" class="dashboard-btnShare"><h3>Share Your Gigs</h3></button>
                    </div>

                    <div class="dashboard-step2">
                        <h4>Get more Skills & Exposure</h4>
                        <p>Hone your skills and expand your knowledge with online courses. You’ll be able to offer more services and gain more exposure with every course completed.</p>
                      <button type="submit" class="dashboard-btnExplore"><h3>Explore Learn</h3></button>
                    </div>
                     
                    <div class="dashboard-step3">
                         <h4>Become a successful seller</h4>
                         <p>Watch this free online course to learn how to create an outstanding service experience for your buyer and grow your career as an online freelancer.</p>
                         <button type="submit" class="dashboard-btnWatch"><h3>Watch free course</h3></button>

                    </div>
                  </div>
            </div>
            <div class="dashboard-slider">
                <div class="dashboard-slides">
                  <!--radio buttons start-->
                  <input type="radio" name="radio-btn" id="radio1">
                  <input type="radio" name="radio-btn" id="radio2">
                  <input type="radio" name="radio-btn" id="radio3">
                  <input type="radio" name="radio-btn" id="radio4">
                  <!--radio buttons end-->
                  <!--slide images start-->
                  <div class="dashboard-slide first">
                    <img src="https://images.unsplash.com/photo-1586044336930-3bfafdce711b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" alt="">
                  </div>
                  <div class="dashboard-slide">
                    <img src="https://images.unsplash.com/photo-1460794418188-1bb7dba2720d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                  </div>
                  <div class="dashboard-slide">
                    <img src="https://images.unsplash.com/photo-1573703748445-db7f417e0d9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                  </div>
                  <div class="dashboard-slide">
                    <img src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                  </div>
                  <!--slide images end-->
                  <!--automatic navigation start-->
                  <div class="dashboard-navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                  </div>
                  <!--automatic navigation end-->
                </div>
                <!--manual navigation start-->
                <div class="dashboard-navigation-manual">
                  <label for="radio1" class="manual-btn"></label>
                  <label for="radio2" class="manual-btn"></label>
                  <label for="radio3" class="manual-btn"></label>
                  <label for="radio4" class="manual-btn"></label>
                </div>
                <!--manual navigation end-->
              </div>
              <!--image slider end-->
          
              <script type="text/javascript">
              var counter = 1;
              setInterval(function(){
                document.getElementById('radio' + counter).checked = true;
                counter++;
                if(counter > 4){
                  counter = 1;
                }
              }, 5000);
              </script>
            
           
                
        </div>
       
    </div>
    
</body>
</html>